 <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://use.fontawesome.com/24a4399a18.js"></script>
<h1> TINY URL </h1>
<%if (!username){%>
<form action="/login" method="POST" style="margin:150px;">
  <label for="username">Username:</label>
  <input id="username" type="text" name="username" placeholder="Username" style="width: 100px">
  <button>Sign In</button>
</form>
<% } else { %>
<%= username%>
<form action="/logout" method="POST" style="margin:150px;"><button>Logout</button></form>
<% } %>

