 <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://use.fontawesome.com/24a4399a18.js"></script>
<h1> TINY URL </h1>
<%if (!email){%>
<form action="/login" method="GET"><button>Log In</button></form>
<form action="/register" method="GET"><button>Register</button></form>
<% } else { %>
<h3>Logged in as:</h3> <%= email%>
<form action="/logout" method="POST"><button>Logout</button></form>
<form method='GET' action='/urls'> <button>My Links</button> </form>
<% } %>

