<form action="/login" method="POST">
  <label for="email">Email:</label>
  <input id="email" type="text" name="email" placeholder="Email">
  <br>
  <label for="password">Password:</label>
  <input id="password" type="password" name="password" placeholder="Password">
  <button>Sign In</button>
</form>

<p>Don't have an account?</p>
<form action="/register" method="GET"><button>Register</button></form>