<form action="/login" method="POST" style="margin:150px;">
  <label for="email">Email:</label>
  <input id="email" type="text" name="email" placeholder="Email" style="width: 100px">
  <br>
  <label for="password">Password:</label>
  <input id="password" type="password" name="password" placeholder="Password" style="width: 100px">
  <button>Sign In</button>
</form>

<p>Don't have an account?</p>
<form action="/register" method="GET" style="margin:150px;"><button>Register</button></form>