<!DOCTYPE HTML>
  <html lang=eng>
  <head>
    <title>TINY APP</title>>
  </head>
  <%- include('partials/_header') %>
  <body>
    <form action="/urls/<%=shortURL%>/update" method="POST" style="margin:150px;">
      <label for="longURL">Change the Original URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="<%= LongURL%>" style="width: 300px">
      <button>UPDATE</button>
      <p> Tiny URL: <%= shortURL%></p>
    </form>
  </body>>
  </html>

