<!DOCTYPE HTML>
  <html lang=eng>
  <head>
    <title>TINY APP</title>>
  </head>
  <%- include('partials/_header') %>
  <body>

    <ul>  <% for(var link in urls) { %>
      <li> Original URL: <%= urls[link] %>
      <p> Tiny URL: <%= link %> </p> </li>
      <%} %>
    </ul>
    <p> Insert link to shortener here </p>>
  </body>>
  </html>