<!DOCTYPE HTML>
  <html lang=eng>
  <head>
    <title>TINY APP</title>>
    <header> <%- include('partials/_header') %> </header>
  </head>
  <body>
    <ul> <% for(var link in urls) { %>
      <li> <%= urls[link] %> </li>
      <%= link %>
      <%} %>
    </ul>
    <p> Insert link to shortener here </p>>
  </body>>
  </html>